# Subversion
.svn

# OS X
.DS_Store

# Textmate
*.tmproj

# Eclipse
.classpath
.settings/
build/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*~.nib

# vim
*.swp
